@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&family=Domine:wght@600;700&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    background-color : #EDF2F8;
    padding : 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Domine', sans-serif;
    display : flex;
    align-items : center;
    justify-content : center;
    height : 100vh;
}

img {
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.container {
    display : flex;
    flex-wrap: wrap;
}

.article_image {
    height : 20rem;
    width: 100%;
}

.article_image img {
    border-radius : .5rem .5rem 0 0 ;
}

.article_details {
    background-color : #ffffff;
    border-radius : 0 0 .5rem .5rem  ;
    padding: 1.5rem;
    position: relative;
}

h1 {
    color : #09090990;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    color : #09090960;
    padding-top : 1rem;
    padding-bottom : 1rem;
    line-height: 1.5;
}

.footer{
    display : flex;
    align-items : center;
    justify-content: space-between;
    flex-wrap : wrap;
    width : 100%;
    visibility : hidden;

}

.author {
    display : flex;
    align-items : center;
    flex-wrap : wrap;
}

.author_picture {
    width : 3rem;
}

.author_details {
    display : flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.author_name {
    font-weight: 700;
}

.published_date {
    font-size: .8rem;
    padding-top: .3rem;
    color: #00000080;
}

.share_btn, .social_btn {
    color : #00000055;
    width : 1.4rem;
    position: relative;
    display : flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.share_btn::before {
    content : "";
    display : block;
    border-radius: 50rem;
    position: absolute;
    padding : 1.2rem;
    background-color: #96969615;
    transition: all .5s;
}

.share_btn:hover:before {
    background-color: #96969690;
    cursor: pointer;
}

.share_btn:hover {
    color : #96969680;

}

.share_btn svg, .social_btn svg {
    width : 100%;
    height : 100%;
}

.mobile_share_model {
    visibility: hidden;
    background-color : #49556B;
    display : flex;
    align-items : center;
    justify-content: space-around;
    padding : 1rem;
    position: absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    border-radius:  0 0 .5rem .5rem;
}

.mobile_share_model span:first-child {
    color : #626F85;
}

.mobile_share_model .share_btn, .social_btn{
    color : #ffffff;
    transition : all .3s;
}

.facebook_btn:hover {
    color : #4267B2;
    cursor: pointer;
}
.twitter_btn:hover {
    color : #1DA1F2;
    cursor: pointer;
}
.pinterest_btn:hover {
    color : #E60023;
    cursor: pointer;
}

.active {
    visibility: visible;
}

@media screen and (min-width: 1024px) {

    .article_image {
        height : 20rem;
        width : 20rem;
    }

    .article_details {
        width : 40rem;
        padding: 3rem;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .share_btn, .social_btn {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .mobile_share_model {
        display: none;
    }
}